# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin
amplicode.xml

.gigacode/.gtilab_token
.idea
/.gigacode/

/.gigacode/prompts/
