<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Формат: Время | Уровень | [traceId, spanId] | Поток | Логгер | Сообщение -->
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%X{traceId:-},%X{spanId:-}] [%15.15t] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <!-- Корневой логгер -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>

    <!-- Можно сделать логи Gateway более тихими, оставив только наши фильтры и роутинг на INFO -->
    <logger name="org.springframework.cloud.gateway" level="INFO"/>
    <logger name="io.netty" level="WARN"/>
</configuration>